body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	width: 30px;
}

.container {
	max-width: 500px;
	width: 100%;
	margin: auto;
}
.title {
	text-align: center;
}
.form {
	text-align: center;
	width: 100%;
}
.done {
	text-decoration: line-through;
}
.item {
	display: flex;
	justify-content: space-between;

	font-size: 26px;
	padding: 5px;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}
.card {
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.363);
}
.btn {
	background: none;
	border: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.addBtn {
	font-size: 30px;
	padding: 0 10px;
}
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.753);
}
.modalCard {
	padding: 20px;
	background-color: white;
}
.hideModal {
	display: none;
}
